.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .centered-div {
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
  }

  body{
    background-image: url(../Images/cesar-couto-TIvFLeqZ4ec-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }